.header {
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0px 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.logo {
  display: flex;
  gap: 16px;
  color: #4361ee;
  justify-self: start;
}

.logo svg {
  color: #f72585;
  font-size: 32px;
}

.logo:hover {
  color: #4361ee;
}

.nav {
  display: flex;
  gap: 16px;
  justify-self: center;
}

.nav button {
  color: black;
  font-size: 16px;
  font-weight: 500;
  border: none !important;
  padding: 10px 16px;
  box-shadow: none !important;
}

.nav button:hover {
  background-color: #4361ee !important;
  color: white !important;
}

.active {
  display: flex;
  background-color: #4361ee;
  color: white !important;
}

.actions {
  display: flex;
  justify-self: end;
  gap: 16px;
}

.actions svg {
  font-size: 26px;
  color: black;
  transition-duration: 200ms;
}

.actions svg:hover {
  color: #4361ee;
  transform: translateY(-2px);
}

.cart {
  display: flex;
  position: relative;
}

.cart p {
  position: absolute;
  top: -10px;
  right: -10px;

  width: 22px;
  aspect-ratio: 1 / 1;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f72585;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}
